{% extends "base.html" %}

{% block title %}Contact - Edwards Jewellers{% endblock %}

{% block content %}
  <section class="titlesection breakpointmargin breakpointgrid backgroundmaincolour">
    <div id="w-node-e4550cfa-a496-90de-e377-ff9b02da12e2-4232d78a" class="titlecontentholder">
      <h1 class="pagetitleheading h1size headingfontbold offblackfontcolour">Contact Us</h1>
      <p class="pagetitleparagraph bodylargesize bodyfontregular offblackfontcolour">Have questions or need assistance? Contact us today, and our team will be happy to help with any inquiries.</p>
    </div>
  </section>
  <section class="contactsection breakpointgrid breakpointmargin backgroundmaincolour">
    <div id="w-node-b77b6dc8-728c-b922-0196-f949b165a35c-4232d78a" class="contactformholder">
      <h2 id="w-node-_2d0ab7f1-0c4c-b487-608b-838d9fb682d2-4232d78a" class="contactformheader h2size offblackfontcolour headingfontsemibold">Contact &amp; Enqiury Form</h2>
      <div id="w-node-_0a50a2f9-5172-23ce-a143-3bd141d1547b-4232d78a" class="contactform">
        <div id="w-node-_526e88e0-840b-3dbf-6170-015f5de37990-4232d78a" class="formdiv">
          <div class="contactformlabel bodylargesize offblackfontcolour bodyfontmedium">First Name</div>
          <a href="#" class="forminputlb w-inline-block">
            <div class="forminputdiv rounding dropshadow5">
              <div class="enterformtext bodysize offblackfontcolour">Enter</div>
            </div>
          </a>
        </div>
        <div id="w-node-bb26637f-2307-238f-669d-1cdbc3ec8b02-4232d78a" class="formdiv">
          <div class="contactformlabel bodylargesize offblackfontcolour bodyfontmedium">Last Name</div>
          <a href="#" class="forminputlb w-inline-block">
            <div class="forminputdiv rounding dropshadow5">
              <div class="enterformtext bodysize offblackfontcolour">Enter</div>
            </div>
          </a>
        </div>
        <div id="w-node-ba3969f7-cd53-7b41-1f89-6fb3755985f2-4232d78a" class="formdiv">
          <div class="contactformlabel bodylargesize offblackfontcolour bodyfontmedium">Email</div>
          <a href="#" class="forminputlb w-inline-block">
            <div class="forminputdiv rounding dropshadow5">
              <div class="enterformtext bodysize offblackfontcolour">Enter</div>
            </div>
          </a>
        </div>
        <div id="w-node-_892e3b72-c8cb-9f39-bc0d-111923994dec-4232d78a" class="formdiv">
          <div class="contactformlabel bodylargesize offblackfontcolour bodyfontmedium">Subject</div>
          <a href="#" class="forminputlb w-inline-block">
            <div class="forminputdiv rounding dropshadow5">
              <div class="enterformtext bodysize offblackfontcolour">Enter</div>
            </div>
          </a>
        </div>
        <div id="w-node-_240edf0a-0518-3917-a37e-eb676e2a26f8-4232d78a" class="formdiv">
          <div class="contactformlabel bodylargesize offblackfontcolour bodyfontmedium">Message</div>
          <a href="#" class="forminputlb w-inline-block">
            <div class="forminputdiv rounding dropshadow5">
              <div class="enterformtext bodysize offblackfontcolour">Enter Your Message Here</div>
            </div>
          </a>
        </div>
        <div id="w-node-daef4a86-c5f7-b31e-1ef7-2e659eccdc9e-4232d78a" class="formbuttonholder">
          <a id="w-node-_243fba14-b158-ae3c-d2d8-eac302ceb1d4-4232d78a" href="#" class="formbuttonlinkblock w-inline-block">
            <div class="ctastyle2 rounding dropshadow5">
              <div class="ctabuttononetext bodylargesize bodyfontmedium offblackfontcolour">Submit</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="w-node-d8347c79-55c5-abe5-6d52-f50b3f626691-4232d78a" class="contactinfoholder">
      <h2 id="w-node-_5a25c115-f53c-33d4-ecf2-a051a903ebb7-4232d78a" class="contactinfoheader h2size offblackfontcolour headingfontsemibold">Get In touch</h2>
      <div id="w-node-_983a3650-229d-4a62-c813-03fff2299b66-4232d78a" class="supportinfo">
        <div id="w-node-dd7d9386-aa32-441c-f1ec-6494b9c6aac6-4232d78a" class="getintouchcolumn">
          <div id="w-node-aa89d9a2-bf95-1958-22b3-eff54058b369-4232d78a" class="contactinfodescription">
            <h3 class="contactinfoh4 h3size offblackfontcolour headingfontsemibold">Telephone</h3>
            <div class="telephonenumbertext bodysize offblackfontcolour bodyfontregular">+44 7923 041753</div>
          </div>
          <div class="contactinfodescription">
            <h3 class="contactinfoh4 h3size offblackfontcolour headingfontsemibold">Email</h3>
            <div class="emailtextblock offblackfontcolour bodyfontregular bodysize">Edwardsjewellerslondon@gmail.com</div>
          </div>
          <div id="w-node-a15cbf84-2732-5432-8c74-5ab9e4ecdf31-4232d78a" class="socialmedialinkscolumn">
            <h3 class="socialmedialinksheader h3size offblackfontcolour headingfontsemibold">Social Media</h3>
            <div class="socialmediaholders">
              <div class="socialmedialinkholder">
                <a href="#" class="socialmedialinkblock w-inline-block">
                  <div class="socialmediatext bodysize offblackfontcolour bodyfontregular">Instagram: @edwardsjewellers</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_6d3d2b3a-fc50-d77b-79af-767a675b94a3-4232d78a" class="contactinfodescription">
          <h3 class="contactinfoh4 h3size offblackfontcolour headingfontsemibold">Support Hours</h3>
          <div>
            <ul role="list" class="supporhourslist w-list-unstyled">
              <li class="supporthourday offblackfontcolour bodysize bodyfontregular">Weekdays: 9am - 5pm</li>
              <li class="supporthourday offblackfontcolour bodysize bodyfontregular">Weekends: 12pm - 4pm</li>
              <li class="supporthourday offblackfontcolour bodysize bodyfontregular">Bank Holidays: Closed</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}