{% extends "base.html" %}

{% block title %}F.A.Q - Edwards Jewellers{% endblock %}

{% block content %}
  <section class="titlesection breakpointmargin breakpointgrid backgroundmaincolour">
    <div id="w-node-bc7e2bd7-a0bb-80c5-a8b6-3e57c228b8e8-72a92edc" class="titlecontentholder">
      <h1 class="pagetitleheading h1size headingfontbold offblackfontcolour">Frequently Asked Questions</h1>
      <p class="pagetitleparagraph bodysize bodyfontregular offblackfontcolour">Find Answers to Our Frequently Questions About Our Jewellery, Shipping, and More</p>
    </div>
  </section>
  <section class="questionsection breakpointgrid breakpointmargin backgroundmaincolour">
    <div id="w-node-_4bcd0eb3-7d7a-df71-5bef-7b05090e4b20-72a92edc" class="questionawnserdivblock">
      <h2 class="questionheader h2size offblackfontcolour headingfontsemibold">Do we provide sizing?</h2>
      <p class="questionawnser bodysize offblackfontcolour bodyfontregular">Yes, we offer sizing services. The cost varies depending on the item, and sometimes it is included. Please enquire about the specific item for a quote.</p>
    </div>
    <div id="w-node-a16823ab-2609-abf4-964e-ec2088bc90af-72a92edc" class="questionawnserdivblock">
      <h2 class="questionheader h2size offblackfontcolour headingfontsemibold">Do we offer cleaning?</h2>
      <p class="questionawnser bodysize offblackfontcolour bodyfontregular">Yes, all items are professionally cleaned and polished before sending unless requested otherwise.</p>
    </div>
    <div id="w-node-df03c50c-3fa7-f38d-18d9-3a133c0323f0-72a92edc" class="questionawnserdivblock">
      <h2 class="questionheader h2size offblackfontcolour headingfontsemibold">Do we offer written valuations on items?</h2>
      <p class="questionawnser bodysize offblackfontcolour bodyfontregular">Yes, we provide written valuations on all our items.</p>
    </div>
    <div id="w-node-_5857f465-276a-47a3-1922-b081076ea29a-72a92edc" class="questionawnserdivblock">
      <h2 class="questionheader h2size offblackfontcolour headingfontsemibold">Do we offer alterations?</h2>
      <p class="questionawnser bodysize offblackfontcolour bodyfontregular">Yes, we offer alteration services for our jewellery pieces.</p>
    </div>
    <div id="w-node-d231e652-25af-f9b0-f32b-8d6d30059296-72a92edc" class="questionawnserdivblock">
      <h2 class="questionheader h2size offblackfontcolour headingfontsemibold">What guarantee can you provide on the items sold?</h2>
      <p class="questionawnser bodysize offblackfontcolour bodyfontregular">Each item is guaranteed to be genuine and as described, thoroughly checked by our on-site experienced jewellers.</p>
    </div>
  </section>
{% endblock %}