{% extends "base.html" %}

{% block title %}Home - Edwards Jewellers{% endblock %}

{% block content %}
<section class="announcement-bar">
    <div class="announcementbardiv">
      <div class="announcementbar">THIS IS SOME IMPORTANT ANNOUNCEMENT TEXT - THIS IS SOME IMPORTANT ANNOUNCEMENT TEXT</div>
    </div>
  </section>
  <section class="hero">
    <div class="_12colg colmargin">
      <div id="w-node-df6d6b31-bc4b-1a49-1af5-a0bd0d005de0-09c1ba21" class="herocontainer">
        <div id="w-node-bbb24deb-ef52-f543-e978-577f49d6da17-09c1ba21" class="herocontent">
          <div class="herotextcontent">
            <h1 id="w-node-_91d1dbfb-93f0-11e0-8f80-f1cc18d9c251-09c1ba21" class="heroh1 minor-third---h1-bold">Our collection of Vintage </h1>
            <p class="heroparagraph minor-third---body-large">This is a small paragraph regarding the collection of jewellery. This is a small paragraph regarding the collection of jewellery. This is a small paragraph regarding the collection of jewellery. </p>
          </div>
          <a href="{% url 'shop' %}" class="cta-1-style w-inline-block">
            <div class="cta-text">Shop Now</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="mailinglistsection">
    <div class="w-layout-grid _12colg colmargin">
      <div id="w-node-_1f95b5b6-f363-cc68-08ab-d600926a36fa-09c1ba21" class="mailingtextcontent">
        <h2 class="mailinglist-heading minor-third---h2-semi-bold">Join Our Mailing List </h2>
        <p class="mailinglistparagraph minor-third---body">Be the first to know about exclusive offers & Discounts! Be the first to know about exclusive offers & Discounts!</p>
      </div>
      <div id="w-node-f7bf1b51-9a15-87e9-5125-d219b11a7540-09c1ba21" class="mailinglistform w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="6640cc23752af1f209c1ba21" data-wf-element-id="f7bf1b51-9a15-87e9-5125-d219b11a7541"><input class="formfieldmailing w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter Email" type="email" id="name"><input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit"></form>
        <div class="success-message w-form-done">
          <div class="mailinglistsuccess minor-third---body-large">Thank you for joining our Mailing List! </div>
        </div>
        <div class="error-message w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="vintageringssection">
    <div class="w-layout-grid _12colg _3row">
      <div id="w-node-_5906dc14-be1d-a155-a96c-f6ff34314fc9-09c1ba21" class="vrtextcontent">
        <h2 class="vrheader minor-third---h2-semi-bold">Vintage Rings</h2>
        <p class="vrparagraph minor-third---body">Browse our special collection of rings. Browse our special collection of rings. Browse our special collection of rings. Browse our special collection of rings</p>
      </div>
      <div id="w-node-_622794e4-8c97-0880-516e-e1b8cb5d7965-09c1ba21" class="productholder4column">
        <div id="w-node-cf8504a7-50be-45b9-9034-2581619882ed-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-b60df10d-584c-d744-93a6-70da31b443a7-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-e2a8d1c8-ae95-ef6c-ac95-0c141c2371c0-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-fdd6c223-2208-5ce7-866d-70bfcf0d259b-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-_52d20ee9-c200-269b-c431-76bfdc667222-09c1ba21" class="cta-row">
          <a id="w-node-_77460ccc-526b-abb6-2a2e-5640878883d8-09c1ba21" href="#" class="cta-1-style w-inline-block">
            <div class="cta-text">Shop Now</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="doubleproductsection">
    <div class="w-layout-grid _12colg colmargin">
      <div id="w-node-c8c16ae2-73ee-bfe4-0276-83d16b20ff92-09c1ba21" class="dpimage-descirption">
        <div class="dpcontent">
          <div id="w-node-a2cfc126-46b5-51de-59ac-1b7380e02020-09c1ba21" class="dptextcontent-cta">
            <div class="dptextcontent">
              <h2 class="dpheader1 minor-third---h2-semi-bold">Classic Earrings</h2>
              <p class="dpdescription1 minor-third---body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <a href="#" class="cta-1-style w-inline-block">
              <div class="cta-text">Shop Earrings</div>
            </a>
          </div>
        </div>
        <div id="w-node-_147e5259-cf1f-dd79-d00a-ba8dcaac9bbc-09c1ba21" class="dpimage"></div>
      </div>
      <div id="w-node-d37e65f5-8181-0349-1c1c-b5025272ac12-09c1ba21" class="dpimage-descirption">
        <div id="w-node-d37e65f5-8181-0349-1c1c-b5025272ac1c-09c1ba21" class="dpimage"></div>
        <div class="dpcontent left">
          <div id="w-node-d37e65f5-8181-0349-1c1c-b5025272ac14-09c1ba21" class="dptextcontent-cta">
            <div class="dptextcontent">
              <h2 class="dpheader2 minor-third---h2-semi-bold">Necklaces & Pendants</h2>
              <p class="dpparagraph minor-third---body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="dpdoublebutton">
              <a href="#" class="cta-1-style w-inline-block">
                <div class="cta-text">Shop Necklaces</div>
              </a>
              <a href="#" class="cta-1-style w-inline-block">
                <div class="cta-text">Shop Pendants</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vintagebraceletssection">
    <div class="w-layout-grid _12colg _3row">
      <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb0889-09c1ba21" class="vrtextcontent">
        <h2 class="vbheader minor-third---h2-semi-bold">Vintage Bracelets</h2>
        <p class="vrparagraph minor-third---body">Browse our special collection of rings. Browse our special collection of rings. Browse our special collection of rings. Browse our special collection of rings</p>
      </div>
      <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb088e-09c1ba21" class="productholder4column">
        <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb088f-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb08a0-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb08b1-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb08c2-09c1ba21" class="product-frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="product-image">
          <div class="productcontent">
            <div class="productinfo">
              <div class="productname minor-third---bl-semi-bold">Product Name </div>
              <div class="productdescription minor-third---body">THIS Is item thisis hsiddh ssidh sidhs dish dishd idsh dishd ishd ishd sidh sidhsdh </div>
              <div class="productprice minor-third---body-large">£0.00</div>
            </div>
            <div class="productbuttonrow">
              <a href="#" class="addtocart minor-third---body w-button">Buy</a>
              <div class="text-block-3">-</div>
              <a href="#" class="enquire minor-third---body w-button">Enquire</a>
            </div>
          </div>
        </div>
        <div id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb08d3-09c1ba21" class="cta-row">
          <a id="w-node-_4cdd2f82-4074-b22d-dc90-3b71c8fb08d4-09c1ba21" href="#" class="cta-1-style w-inline-block">
            <div class="cta-text">Shop Now</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="newsection">
    <div class="w-layout-grid _12colg colmargin">
      <div id="w-node-_7989cdb3-41ee-3369-4b42-4b0436beebe1-09c1ba21" class="backgroundimagediv">
        <div id="w-node-_8ea2e02b-afb6-159d-5e9c-3941f2ba8b28-09c1ba21" class="dptextcontent-cta">
          <div id="w-node-_306e5da5-9242-86e9-d06a-f9376c00c57c-09c1ba21" class="dptextcontent">
            <h2 id="w-node-ab355201-aa53-7e02-6f84-d09abbf8a63f-09c1ba21" class="newheading minor-third---h2-semi-bold">New Collection</h2>
            <p class="newdescription minor-third---body">this is a small description. This is a small Description. This is A small Desription, This is a small Description. This is a small Description. This is a small Description. This is a small Description.</p>
          </div>
          <a href="#" class="cta-1-style w-inline-block">
            <div class="cta-text">Shop New</div>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

