{% extends "base.html" %}

{% load custom_tags %}

{% block title %}Home - Edwards Jewellers{% endblock %}

{% block content %}

<!-- Announcement Bar -->
<section class="annoucementbarsection">
  <div class="annoucementbardiv breakpointmargin">
      {% get_announcement_text as announcement_text %}
      <div class="announcementbartext offwhitefontcolour bodysize bodyfontregular">
          {{ announcement_text }}
      </div>
  </div>
</section>
  <section class="herosection breakpointgrid breakpointmargin backgroundmaincolour"><img src="images/NewImageDesktop.jpg" loading="lazy" id="w-node-_74b27b11-b136-2f6f-9448-c9334c7650a8-dfca60fd" sizes="(max-width: 479px) 21vw, (max-width: 767px) 22vw, (max-width: 991px) 10vw, 100vw" alt="" srcset="images/NewImageDesktop-p-500.jpg 500w, images/NewImageDesktop-p-800.jpg 800w, images/NewImageDesktop-p-1080.jpg 1080w, images/NewImageDesktop-p-1600.jpg 1600w, images/NewImageDesktop-p-2000.jpg 2000w, images/NewImageDesktop.jpg 3840w" class="image-4">
    <div id="w-node-_25bae930-1fa1-fb47-f210-e96f8dc57696-dfca60fd" class="herocontainer dropshadow5 rounding">
      <div id="w-node-_25bae930-1fa1-fb47-f210-e96f8dc57697-dfca60fd" class="herocontentholder">
        <div class="herotextholder">
          <h1 class="heroheading1 h1size headingfontbold offwhitefontcolour">Elegance Through Eras: Handpicked Vintage Jewellery</h1>
          <p class="herosubheading bodylargesize bodyfontregular offwhitefontcolour">Find beautiful, hand-picked antique pieces from various eras, each chosen for its unique charm and timeless style.</p>
        </div>
        <a href="{% url 'shop' %}" class="ctaonelinkblock w-inline-block">
          <div class="calltoactiononecomputer dropshadow5 rounding">
            <div class="ctabuttononetext bodylargesize offwhitefontcolour bodyfontmedium">Shop Now</div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="mailinglistsection breakpointgrid breakpointmargin mainforegroundcolour">
    <div id="w-node-_06ff9d88-bbce-964f-edb6-57e2b65a9c75-dfca60fd" class="mailinglistcontent">
      <div id="w-node-_06ff9d88-bbce-964f-edb6-57e2b65a9c76-dfca60fd" class="mailinglisttextcontent">
        <h2 class="mailinglistheading2 h2size headingfontsemibold offblackfontcolour">Join Our Mailing List</h2>
        <p class="malinglistsubheading bodysize bodyfontregular offblackfontcolour">Be the first to know about exclusive offers, discounts, and new arrivals in our hand-picked jewellery collection.</p>
      </div>
      <div id="w-node-_06ff9d88-bbce-964f-edb6-57e2b65a9c7b-dfca60fd" class="mailinglistform">
        <a href="#" class="formlink w-inline-block">
          <div class="forminput backgroundmaincolour dropshadow5 roundingleft">
            <div class="forminputtext bodysize offblackfontcolour">Enter Email</div>
          </div>
        </a>
        <a href="#" class="formbuttonlb w-inline-block">
          <div class="formsubmitmailing dropshadow5 roundingright">
            <div class="ctabuttononetext bodysize bodyfontsemibold offwhitefontcolour">Submit</div>
          </div>
        </a>
      </div>
    </div>
  </section>






  <section class="productsection breakpointgrid breakpointmargin backgroundmaincolour">
    <div id="w-node-_951ba79c-3f48-97f8-26fc-e9e515497f05-dfca60fd" class="productsectiontextcontent">
      <h2 class="productsectionheading h2size headingfontsemibold offblackfontcolour">Our Rings</h2>
      <p class="productsectionparagraph bodysize bodyfontregular offblackfontcolour">Browse our curated selection of vintage rings, each piece meticulously chosen for its beauty and history.</p>
    </div>
    <div id="w-node-ef86a70f-58ac-c2ff-26d8-6b96f3552a14-dfca60fd" class="productswithcta">
      <div id="w-node-_951ba79c-3f48-97f8-26fc-e9e515497f0a-dfca60fd" class="fourblockproductsection">
        <div id="w-node-a731da88-ccb2-596e-494d-7d5be48c0033-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-b3e53445-a2e4-3943-b5ae-24061b75fcf6-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-_54068a78-e6d6-0223-b486-e14d54ca0448-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-b90faf87-1fc5-74ba-12a9-3abd29f43682-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ctaholder">
        <a href="#" class="ctaonelinkblock w-inline-block">
          <div class="calltoactiononecomputer dropshadow5 rounding">
            <div class="ctabuttononetext bodylargesize offwhitefontcolour bodyfontmedium">Shop Rings</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="doubleproductsection breakpointgrid breakpointmargin backgroundmaincolour">
    <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4ea-dfca60fd" class="doublesection dropshadow5">
      <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4eb-dfca60fd" class="textdoubleproductside mainforegroundcolour roundingleft">
        <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4ec-dfca60fd" class="productcontentcontainer">
          <div class="producttextcontainer">
            <h2 class="productheading h2size headingfontsemibold offblackfontcolour">Our Earrings </h2>
            <p class="producttextdescription bodysize bodyfontregular offblackfontcolour">Browse our curated range of vintage earrings, each piece carefully chosen to enhance your classic style. Our collection features timeless designs from various eras, ensuring that every pair tells a unique story and adds a touch of elegance to any outfit. </p>
          </div>
          <a href="#" class="ctaonelinkblock w-inline-block">
            <div class="calltoactiononecomputer dropshadow5 rounding">
              <div class="ctabuttononetext bodylargesize bodyfontsemibold offwhitefontcolour bodyfontmedium">Shop Earrings</div>
            </div>
          </a>
        </div>
      </div><img id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4f6-dfca60fd" sizes="(max-width: 767px) 5vw, (max-width: 991px) 2vw, (max-width: 1279px) 5vw, (max-width: 1919px) 3vw, 4vw" alt="" src="images/EarringsImageMobile.jpg" loading="lazy" srcset="images/EarringsImageMobile-p-500.jpg 500w, images/EarringsImageMobile-p-800.jpg 800w, images/EarringsImageMobile-p-1080.jpg 1080w, images/EarringsImageMobile-p-1600.jpg 1600w, images/EarringsImageMobile-p-2000.jpg 2000w, images/EarringsImageMobile.jpg 2400w" class="imagedoubleproductside roundingright dropshadow5">
    </div>
    <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4f7-dfca60fd" class="doublesection dropshadow5"><img id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4f8-dfca60fd" sizes="(max-width: 767px) 5vw, (max-width: 991px) 2vw, (max-width: 1279px) 5vw, (max-width: 1919px) 3vw, 4vw" alt="" src="images/NecklacesImage-1.jpg" loading="lazy" srcset="images/NecklacesImage-1-p-500.jpg 500w, images/NecklacesImage-1-p-800.jpg 800w, images/NecklacesImage-1-p-1080.jpg 1080w, images/NecklacesImage-1-p-1600.jpg 1600w, images/NecklacesImage-1.jpg 2400w" class="imagedoubleproductside roundingleft dropshadow5">
      <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4f9-dfca60fd" class="textdoubleproductside _6columngridnm mainforegroundcolour roundingright">
        <div id="w-node-_11e4837c-f661-d39f-c5ab-d5a3af2ff4fa-dfca60fd" class="productcontentcontainer">
          <div class="producttextcontainer">
            <h2 class="productheading h2size headingfontsemibold offblackfontcolour">Necklaces and Pendants</h2>
            <p class="producttextdescription bodysize bodyfontregular offblackfontcolour">Shop our exquisite collection of antique and vintage necklaces and pendants, each hand-picked for its unique charm. Our selection features timeless pieces from various eras, ensuring every item tells its own story. </p>
          </div>
          <div class="doublebuttonholder">
            <a href="#" class="ctaonelinkblock invisiblepadding8px w-inline-block">
              <div class="calltoactiononecomputer dropshadow5 rounding">
                <div class="ctabuttononetext bodylargesize bodyfontsemibold offwhitefontcolour bodyfontmedium">Shop Necklaces</div>
              </div>
            </a>
            <a href="#" class="ctaonelinkblock invisiblepadding8px w-inline-block">
              <div class="calltoactiononecomputer dropshadow5 rounding">
                <div class="ctabuttononetext bodylargesize bodyfontsemibold offwhitefontcolour bodyfontmedium">Shop Bracelets</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="productsection breakpointgrid breakpointmargin backgroundmaincolour">
    <div id="w-node-cb327310-8f9d-dfd9-da14-c785dbca6cea-dfca60fd" class="productsectiontextcontent">
      <h2 class="productsectionheading h2size headingfontsemibold offblackfontcolour">Our Bracelets</h2>
      <p class="productsectionparagraph bodysize offblackfontcolour">Browse our curated selection of vintage bracelets, each meticulously chosen to add classic charm to any outfit.</p>
    </div>
    <div id="w-node-cb327310-8f9d-dfd9-da14-c785dbca6cef-dfca60fd" class="productswithcta">
      <div id="w-node-cb327310-8f9d-dfd9-da14-c785dbca6cf0-dfca60fd" class="fourblockproductsection">
        <div id="w-node-_631d5b6f-eb13-ffa6-4db1-51550ca1f7f6-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-d7977d90-1408-b8b3-97fe-dafd67a50274-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-_8d5dc2c8-89be-0f3d-3382-41d597d773e1-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
        <div id="w-node-_7467dea2-5b94-2d06-1ea5-b73bd0d47349-dfca60fd" class="productcontainer">
          <a href="#" class="productimagetext w-inline-block"><img width="Auto" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="productimage dropshadow5 rounding">
            <div class="producttextcontent">
              <div class="productnametext bodylargesize offblackfontcolour headingfontsemibold">Product Name</div>
              <p class="productdescription bodysize offblackfontcolour bodyfontregular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
              <div class="productprice bodylargesize offblackfontcolour bodyfontregular">£000</div>
            </div>
          </a>
          <div class="productbuttonsection">
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">Add To Cart</div>
              </a>
            </div>
            <div class="productbuttonspacer"><img src="images/Line-4.svg" loading="lazy" alt=""></div>
            <div class="productbuttonholder">
              <a href="#" class="productbutton w-inline-block">
                <div class="enquiretext bodysmallsize offblackfontcolour bodyfontregular">Enquire</div>
              </a>
            </div>
            <div class="productbuttonholdermobile">
              <a href="#" class="productbutton invisiblepadding8px w-inline-block">
                <div class="addtocarttext bodysmallsize offblackfontcolour bodyfontregular">View Product</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ctaholder">
        <a href="#" class="ctaonelinkblock w-inline-block">
          <div class="calltoactiononecomputer dropshadow5 rounding">
            <div class="ctabuttononetext bodylargesize offwhitefontcolour bodyfontmedium">Shop Bracelets</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="newsection breakpointgrid breakpointmargin backgroundmaincolour"><img src="images/HeroImageMobile-1.jpg" loading="lazy" id="w-node-a9ccb577-c629-84ba-1cd3-184755d3a851-dfca60fd" sizes="(max-width: 479px) 21vw, (max-width: 767px) 22vw, (max-width: 991px) 10vw, 100vw" alt="" srcset="images/HeroImageMobile-1-p-500.jpg 500w, images/HeroImageMobile-1-p-800.jpg 800w, images/HeroImageMobile-1-p-1080.jpg 1080w, images/HeroImageMobile-1-p-1600.jpg 1600w, images/HeroImageMobile-1-p-2000.jpg 2000w, images/HeroImageMobile-1-p-2600.jpg 2600w, images/HeroImageMobile-1-p-3200.jpg 3200w, images/HeroImageMobile-1.jpg 3840w" class="mobilenewimage">
    <div id="w-node-_21c965dc-409a-6a97-45d0-25c43cffb952-dfca60fd" class="newcollectionbackground dropshadow5 rounding">
      <div id="w-node-f018d5e4-bead-8713-596a-01c8d5456cce-dfca60fd" class="newcollection">
        <div class="producttextcontainer">
          <h2 class="newcollectionheading h2size headingfontsemibold offwhitefontcolour">New Collection</h2>
          <p class="newcollectionparagraph bodysize offwhitefontcolour">Browse our collection of brand new bespoke made items, each crafted with meticulous attention to detail. Our bespoke collection features a variety of pieces. </p>
        </div>
        <a href="#" class="ctaonelinkblock invisiblepadding8px w-inline-block">
          <div class="calltoactiononecomputer rounding dropshadow5">
            <div class="ctabuttononetext bodylargesize offwhitefontcolour bodyfontmedium">Shop New</div>
          </div>
        </a>
      </div>
    </div>
  </section>
{% endblock %}