.cart-dropdown {
    display: block;
    position: absolute;
    right: 0;
    top: 50px; /* Adjust based on your navbar height */
    width: 300px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.cart-dropdown.open {
    max-height: 500px; /* Adjust based on your dropdown content's height */
    opacity: 1;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-body {
    text-align: center;
}

.apple-pay-button, .checkout-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0070ba;
    color: white;
    border: none;
    cursor: pointer;
}

.apple-pay-button {
    background-color: black;
}

.close-cart {
    cursor: pointer;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.checkout-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0070ba;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove underline from the link */
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-image-container {
    flex: 0 0 50px; /* Ensure the image container is a fixed width */
    margin-right: 10px;
}

.cart-item-image {
    width: 100%;
    height: auto;
}

.cart-item-details {
    flex: 1;
}





.search-form {
    display: flex;
    align-items: center;
    background-color: #e5e7eb; /* Match the background color of your navbar */
    padding: 5px;
    border-radius: 5px;
    width: 250px; /* Adjust the width to fit your design */
    position: relative;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px 0 0 5px; /* Round only the left side */
    background-color: #e5e7eb; /* Match the background color if needed */
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -30px; /* Adjust margin to overlap with input */
    position: relative;
    z-index: 1;
    border-radius: 0 5px 5px 0; /* Round only the right side */
    background-color: #e5e7eb; /* Match the background color if needed */
}

.search-icon {
    width: 20px;
    min-width: 16px; /* Ensure the icon is not too small */
    height: 20px;
    position: relative;
    z-index: 2;
}
