<!-- shop/templates/shop/shop.html -->
{% extends "base.html" %}

{% block title %}Shop - Edwards Jewellers{% endblock %}

{% block content %}
<section class="shoptitleseciton">
    <div class="w-layout-grid _12colg colmargin">
        <div id="w-node-c700e414-282e-fa3b-5d5b-5a559b48fbd2-78b4ab80" class="shoptitle-description">
            <h1 class="shoptitle minor-third---h1">Shop</h1>
            <p class="shopdescription minor-third---body-large">Browse our luxury collection of whatever. Browse our luxury collection of whatever.</p>
        </div>
    </div>
</section>
<section class="shopnavigationsection">
    <div class="vintage-newfilter">
        {% for style in styles %}
        <a href="#" class="link-block-4 w-inline-block" data-style="{{ style.id }}">
            <h2 class="vintagebutton">{{ style.name }}</h2>
        </a>
        {% endfor %}
    </div>
    <div class="shop-nav-menu">
        <a href="#" class="filterlink w-inline-block" data-category="">
            <h3 class="shopfilter minor-third---h3-semi-bold shopall">Shop All</h3>
        </a>
        {% for category in categories %}
        <a href="#" class="filterlink w-inline-block" data-category="{{ category.id }}">
            <h3 class="shopfilter minor-third---h3-semi-bold">{{ category.name }}</h3>
        </a>
        {% endfor %}
    </div>
</section>
<section class="product-section">
    <div class="w-layout-grid _12colg colmargin">
        <div id="w-node-_88aab53b-dc12-f4da-2b37-096a18c3b96c-78b4ab80" class="productholder">
            {% for product in products %}
            <div id="w-node-_7592565a-0da9-5a97-80fb-d6bf7412e87c-78b4ab80" class="product-frame">
                <img src="{% if product.images.first %}{{ product.images.first.image.url }}{% else %}https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg{% endif %}" loading="lazy" alt="{{ product.name }}" class="product-image">
                <div class="productcontent">
                    <div class="productinfo">
                        <div class="productname minor-third---bl-semi-bold">{{ product.name }}</div>
                        <div class="productdescription minor-third---body">{{ product.description }}</div>
                        <div class="productprice minor-third---body-large">£{{ product.price }}</div>
                    </div>
                    <div class="productbuttonrow">
                        <a href="#" class="addtocart minor-third---body w-button" data-product-id="{{ product.id }}">Buy</a>
                        <div class="text-block-3">-</div>
                        <a href="#" class="enquire minor-third---body w-button">Enquire</a>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
